@model CV_Applikation.Controllers.HomeController.UserViewModel

<div class="container1">
    <!-- ------main-content-------- -->
    <div class="main-contentIndex">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var cv in Model.Bcv)
            {
                <div class="col1">
                    <div class="card">
                        <img src="" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@($"{cv.User.Namn}s CV")</h5>
                            <p class="card-text">
                                <a asp-controller="CV" asp-action="View" asp-route-id="@cv.User?.Id">Klicka här för att se hela...</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- ------right-sidebar-------- -->
    <div class="right-sidebar">
        <div class="sidebar-news">
            <img src="~/src/more.png" class="info-icon">
            <h3>Senast skapade projekt</h3>
            @foreach (var projekt in Model.projekt)
            {
                <a href="#">@projekt.Titel</a>
                <span>@projekt.SkapadDen.ToString("dd/MM/yyyy") &middot; @Model.ProjectUserCounts[projekt.Id] registrerade</span>
            }
            <a href="/Projects/Index" class="read-more-link">Se alla...</a>
        </div>
        <div class="sidebar-useful-links">
            <div class="copyright-msg">
                <p>Linkedup &#169; 2022. All Right reserved</p>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var imageUrls = [
            "/src/bakgrund1.png",
            "/src/bakgrund2.png",
            "/src/bakgrund3.png",
            "/src/bakgrund4.png",
            "/src/bakgrund5.png",
            "/src/bakgrund6.png"
        ];

        var cards = document.querySelectorAll(".card-img-top");
        var cards1 = document.querySelectorAll(".coverBildIndex");

        cards.forEach(function (card) {
            var randomIndex = Math.floor(Math.random() * imageUrls.length);
            var randomImageUrl = imageUrls[randomIndex];
            card.src = randomImageUrl;
        });
    });
</script>