@model CV_Applikation.Controllers.HomeController.UserViewModel



<div class="container1">

    <!-- ------main-content-------- -->
    <div class="main-contentIndex">


        <div class="row row-cols-1 row-cols-md-3 g-4">

            @foreach (var cv in Model.Bcv)
            {
                <div class="col">
                    <div class="card">
                        <img src="~/Images/cv.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@($"{cv.User.Namn}s CV")</h5>
                            <p class="card-text">
                                <a asp-controller="CV" asp-action="View" asp-route-id="@cv.User?.Id">Klicka här för att se hela...</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>



    </div>
    <!-- ------right-sidebar-------- -->
    <div class="right-sidebar">

        <div class="sidebar-news">
            <img src="~/src/more.png" class="info-icon">
            <h3>Senast skapade projekt</h3>

            @foreach (var projekt in Model.projekt)
            {
                <a href="#">@projekt.Titel</a>
                <span>@projekt.SkapadDen.ToString("dd/MM/yyyy") &middot; @Model.ProjectUserCounts[projekt.Id] registrerade</span>
            }

            <a href="/Projects/Index" class="read-more-link">Se alla...</a>
        </div>



        <div class="sidebar-useful-links">
            <a href="#">About</a>
            <a href="#">Accessibility</a>
            <a href="#">Help Center</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Advertising</a>
            <a href="#">Get the App</a>
            <a href="#">More</a>


            <div class="copyright-msg">
                <img src="~/src/logo.png">
                <p>Linkedup &#169; 2022. All Right reserved</p>
            </div>

        </div>


    </div>
</div>













