@model List<Core.Models.Project>
@inject Microsoft.AspNetCore.Identity.UserManager<DataLager.Areas.Identity.Data.ApplicationUser> UserManager

<div class="container2">
     @foreach (var project in Model)
            {
        <div class="card mb-3 projektRuta">
        <div class="row g-0">

            
            <div class="col-md-3 ">
                <img src="" class="img-fluid rounded-start custom-img-size" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                        <h5 class="card-title">@project.Titel</h5>
                        <p class="card-text">@project.Beskrivning</p>
                       
                        @if (User.Identity.IsAuthenticated && UserManager.GetUserId(User) == @project.SkapadAv)
                        {
                            <a href="@Url.Action("Update3", "Projects", new { id = project.Id })" class="btn btn-primary redigeraProjekt-knapp">Redigera</a>
                            <a href="@Url.Action("View", "Projects", new { id = project.Id })" class="btn btn-primary projekt-knapp2">Visa mer info</a>
                        }
                        else
                        {
                            <a href="@Url.Action("View", "Projects", new { id = project.Id })" class="btn btn-primary projekt-knapp">Visa mer info</a>
                        } 

                </div>
                    
            </div>
            
        </div>
    </div>

    }

    @if (User.Identity.IsAuthenticated)
    {
        <a href="/Projects/Add3">
            <i class="btn btn-primary">Lägg till nytt projekt</i>
        </a>
    }
    else
    {
        <a href="/Identity/Account/Login">
            <i class="btn btn-primary">Lägg till nytt projekt</i>
        </a>
    }
    

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var imageUrls = [
            "/src/bakgrund1.png",
            "/src/bakgrund3.png",
            "/src/bakgrund4.png",
            "/src/bakgrund5.png",
            "/src/bakgrund6.png"
        ];

        var cards = document.querySelectorAll(".custom-img-size");

        cards.forEach(function (card) {
            var randomIndex = Math.floor(Math.random() * imageUrls.length);
            var randomImageUrl = imageUrls[randomIndex];
            card.src = randomImageUrl;
        });
    });
</script>