@model CV_Applikation.Controllers.CVController.ViewModel
@{
    var conversationModel = new CV_Applikation.Controllers.MessagesController.ConversationViewModel
            {

                MottagarID = @Model.UserID
            };
}
<div class="container2">

    <div class="profile-main">
        <div class="profile-container">
            <img src="" alt="coverPic" class="coverBildMyProfile">
            <div class="profile-container-inner2">
                <img src="@Model.ImagePath" alt="UserPic" class="profile-pic">
                <h1>@($"{Model.Namn} {Model.Efternamn}")</h1>
                <b>Användare sedan: @Model.RegistrationDate.ToString("dd/MM/yyyy")</b>
                <p style="margin-bottom: 0px">@Model.Adress</p>
                <p style="margin-bottom: 0px;margin-top: 0px;">@Model.Email</p>
                <div class="profile-btn">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/messages/index?userId=@Model.UserID"><img src="~/src/chat.png" alt="">Skicka meddelande</a>
                    }
                    else
                    {
                        <a href="#" id="togglePartialButton"><img src="~/src/chat.png" alt="">Skicka meddelande</a>
                    }
                </div>

            </div>
        </div>
    </div>

    <div class="profile-description">
        <h2>Profilsammanfattning</h2>
        <p>@Model.Beskrivning</p>
    </div>

    <div class="profile-description">
        <h2>Utbildning</h2>
        <div class="profile-desc-row">
            <img src="~/src/skola.svg" alt="education">
            <div>
                <h3>@Model.Skola</h3>
                <b>@Model.Ämnesområde</b>
                <b>@Model.StartDatumSkola - @Model.SlutDatumSkola</b>
                <hr>
            </div>
        </div>
    </div>

    <div class="profile-description">
        <h2>Erfarenhet</h2>

        @foreach (var item in Model.ErfarenhetsLista)
        {
            <div class="profile-desc-row">
                <img src="~/src/arbete.svg" alt="">
                <div>
                    <h3>@item.FöretagsNamn</h3>
                    <b>@item.Position</b>
                    <b>@item.StartDatum.ToString("dd/MM/yyyy") - @item.SlutDatum.ToString("dd/MM/yyyy") </b>
                    <hr>
                </div>
            </div>
        }
    </div>

    <div class="profile-description">
        <h2>Projekt</h2>

        @foreach (var item in Model.ProjektLista)
        {
            <div class="profile-desc-row">
                <img src="~/src/projekt.svg" alt="">
                <div>
                    <h3>@item.Titel</h3>
                    <b>@item.Beskrivning</b>
                    <b>@item.Startdatum.ToString("dd/MM/yyyy") - @item.Slutdatum.ToString("dd/MM/yyyy") </b>
                    <hr>
                </div>
            </div>
        }
    </div>


    <div class="profile-description">
        <h2>Kompetenser</h2>

        @foreach (var item in Model.KompetensLista)
        {
            <a class="skills-btn">@item.Namn</a>
        }
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<style>
    .my-partial {
        display: none;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 450px; /* Adjust the height as needed */
        width: 400px;
        overflow-y: auto;
    }

</style>

<script>
    $(document).ready(function () {
        // Toggle the visibility of the partial view
        $("#togglePartialButton").click(function () {
            $("#myPartial").toggle();
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        var imageUrls = [
            "/src/bakgrund1.png",
            "/src/bakgrund3.png",
            "/src/bakgrund4.png",
            "/src/bakgrund5.png",
            "/src/bakgrund6.png"
        ];

        var cards = document.querySelectorAll(".coverBildMyProfile");

        cards.forEach(function (card) {
            var randomIndex = Math.floor(Math.random() * imageUrls.length);
            var randomImageUrl = imageUrls[randomIndex];
            card.src = randomImageUrl;
        });
    });

</script>

@Html.Partial("_ConversationPartialNonAuth", conversationModel)
