@{
    ViewData["Title"] = "Home Page";
    var hasExistingCV = ViewData["HasExistingCV"] as bool? ?? false;
}
@using CV_Applikation.Controllers
@model CV_Applikation.Controllers.AccountController.UserViewModel

<div class="container1">
    <!-- ------left-sidebar-------- -->
    <div class="left-sidebar">
        <div class="sidebar-profile-box">
            <img src="~/src/default-cover.jpeg" class="coverBildIndex">
            <div class="sidebar-profile-info">
                @if (Model.Acv != null && !string.IsNullOrEmpty(Model.Acv.ImagePath))
                {
                    <img src="@Model.Acv.ImagePath" alt="User CV Image">
                }
                else
                {
                    <img src="~/src/default.jpeg" alt="Default User Image">
                }
                <h1>@($"{Model.Auser.Namn} {Model.Auser.Efternamn}")</h1>
                <h3>Användare sedan: @Model.Auser.RegistrationDate.ToString("dd/MM/yyyy")</h3>
                <ul>
                    <li>Antal besökare<span>@Model.Auser.ProfileVisitCount</span></li>
                    <li>Olästa meddelanden<span>@Model.OlästaMeddelanden</span></li>
                </ul>
            </div>
            <div class="sidebar-profile-link">
                @if (!hasExistingCV)
                {
                    <a asp-controller="CV" asp-action="ContactInfo"><img src="~/src/add.svg">Skapa CV</a>
                }
                @if (hasExistingCV)
                {
                    <a asp-controller="Account" asp-action="MyProfile"><img src="~/src/bookmark.svg">Visa CV</a>
                }  
            </div>
        </div>
        <div class="sidebar-activity">
            <h3>SENASTE SÖKNINGAR</h3>
            @foreach (var searchQuery in Model.Auser.RecentSearchQueries)
            {
                <a href="#"><img src="~/src/search.svg">@searchQuery</a>
            }
            <h3>SENASTE BESÖKTA PROFILER</h3>
            @foreach (var visitedUser in Model.VisitedProfiles)
            {
                <a href="#">
                    <img src="~/src/people.svg">
                    @($"{visitedUser.Namn} {visitedUser.Efternamn}")
                </a>
            }
        </div>
    </div>
    <!-- ------main-content-------- -->
    <div class="main-content">
         <div class="text-center">
            <h1 class="display-4" id="titelIndex">Tillgängliga CV:n</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            @foreach (var cv in Model.Bcv)
            {
                <div class="col1">
                    <div class="card">
                        <img src="" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@($"{cv.User.Namn}s CV")</h5>
                            <p class="card-text">
                                <a asp-controller="CV" asp-action="View" asp-route-id="@cv.User?.Id">Klicka här för att se hela...</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- ------right-sidebar-------- -->
    <div class="right-sidebar">
        <div class="sidebar-news">
            <img src="~/src/projekt.svg" class="info-icon">
            <h3>Senast skapade projekt</h3>
            @foreach (var projekt in Model.projekt)
            {
            <a href="#">@projekt.Titel</a>
                <span>@projekt.SkapadDen.ToString("dd/MM/yyyy") &middot; @Model.ProjectUserCounts[projekt.Id] registrerade</span>
            }
            <a href="/Projects/Index" class="read-more-link">Se alla...</a>
        </div>
        <div class="sidebar-useful-links">
            <div class="copyright-msg">
                <p>CV-Applikationen &#169; 2024.</p>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var imageUrls = [
            "/src/bakgrund1.png",
            "/src/bakgrund3.png",
            "/src/bakgrund4.png",
            "/src/bakgrund5.png",
            "/src/bakgrund6.png"
        ];

        var cards = document.querySelectorAll(".card-img-top");
        var cards1 = document.querySelectorAll(".coverBildIndex");

        cards.forEach(function (card) {
            var randomIndex = Math.floor(Math.random() * imageUrls.length);
            var randomImageUrl = imageUrls[randomIndex];
            card.src = randomImageUrl;
        });

        cards1.forEach(function (card) {
            var randomIndex = Math.floor(Math.random() * imageUrls.length);
            var randomImageUrl = imageUrls[randomIndex];
            card.src = randomImageUrl;
        });
    });
</script>
